/* Big Burger Ordering Styles - Joey */

.menu-icons {
	width:48px;
	height:48px;
	padding: 12px 0px 0px 10px;
}
.menu-price {
	font-size: 12px;
	padding-right:5px;
}

.total-price {
	text-align:center;
	
	
}
#total-price-inner {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #57A957;
	background-image: linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -o-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -moz-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -webkit-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -ms-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.49, #D1EED1),
		color-stop(0.75, #EBFFEB)
	);
	color: #404040;
	text-shadow: 0 1px 0 #fff;
	width: 98%;
	height: 0%;
	padding:14px 0px;
	margin: 0 auto;
}

#total-price-order {
	width:50%;
}

.promos_content {
    font-size: 14px;
    padding-top:5px;
}
.promos_header {
    font-size: 14px;
    font-weight:bold;
}
.promos {
	height:95px;
	text-align:center;
	vertical-align:middle;
	background-color: #CCC;
}
.logo_home {
	margin-top: -40px;
	position: relative;
	margin-bottom: -20px;
}
.logo_index {
	position: absolute;
	top:0px;
	z-index: 1000;
	left:50%;
	margin-left:-27px;
}

