/* Big Burger Ordering Styles - Joey */
.logo {
	font-family: 'Leckerli One', cursive;
	font-size: 30px;
	color: #9C1111;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .9), 2px 1px 0px rgba(187, 187, 187, 0.5);
}
.menu-price {
	font-size: 12px;
	padding-right:5px;
}

.total-price {
	text-align:center;
	
	
}
#total-price-inner {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #57A957;
	background-image: linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -o-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -moz-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -webkit-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -ms-linear-gradient(bottom, #D1EED1 49%, #EBFFEB 75%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.49, #D1EED1),
		color-stop(0.75, #EBFFEB)
	);
	color: #404040;
	text-shadow: 0 1px 0 #fff;
	width: 98%;
	height: 0%;
	padding:14px 0px;
	margin: 0 auto;
}

.promos_content {
    font-size: 14px;
    padding-top:5px;
}
.promos_header {
    font-size: 14px;
    font-weight:bold;
}
.promos {
	height:95px;
	text-align:center;
	vertical-align:middle;
	background-color: #CCC;
}